altair
attrs
black
bump2version
flake8
flit
future
gitchangelog
graphviz
interrogate
jupyter
jupytext
pandas
pip-tools
pipdeptree
pipreqs
pre-commit
pydeps
pydocstyle
pylogit
pyscaffold-interactive
pytest
pytest-cov
pytype
reorder-python-imports
scikit-learn
seaborn
statsmodels
tqdm
xenon
watermark
