attrs
black
bump2version
flake8
flit
gitchangelog
interrogate
jupyter
jupytext
pandas
pip-tools
pre-commit
pydocstyle
pyscaffold-interactive
pytest
pytest-cov
pytype
reorder-python-imports
scikit-learn
seaborn
statsmodels
xenon
watermark
